.games {
    display: flex;
    flex-direction: row;
}

.game {
    flex-basis: 25%;
    margin: 10px;
    background-color: blue;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    color: red !important;
    justify-content: center;
}
