td {
    padding: 20px;
    text-align: center;
}

.name {
    font-weight: bold;
}

input {
    font-size: 18px;
    appearance: none;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: white;
}
