<div class="search-container">
  <div class="fields">
    <app-attribute-selector *ngFor="let field of searchFields | async" [field]="field" (attrChange)="onSearchField.next($event)"></app-attribute-selector>
  </div>
  <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia ante nisl, ultricies rutrum nisl consectetur et.
    Phasellus euismod lacus aliquam dui finibus luctus. Donec semper sem aliquam nisl consequat, ut pellentesque quam viverra.
    Mauris porttitor mi ligula, ac volutpat ligula volutpat hendrerit. Proin quis arcu sit amet leo consequat fringilla non
    volutpat enim. Quisque ultrices, urna in imperdiet imperdiet, ligula urna aliquet nisl, id finibus urna nisl eget neque.
    Fusce posuere nulla vel purus sodales vehicula. Quisque id arcu id purus rhoncus cursus. Etiam purus felis, vehicula
    at dignissim vel, euismod vel ex. Pellentesque semper ligula elit, gravida maximus mi facilisis quis. Ut scelerisque
    purus ac eros pellentesque, id ultricies lacus consectetur. Curabitur scelerisque nunc nec lacinia tincidunt. </div>
  <div class="item-list">
    <app-search-list [items]="filteredItems | async"></app-search-list>
  </div>
</div>
